S3method(get.ct,entrance.point)
S3method(get.values,dataframe)
S3method(get.values,for.beam)
S3method(get.values,from.sparse.array)
S3method(get.values,gate.plan)
S3method(get.values,plankit.plan)
S3method(identify,slice)
export(NTCP.LL.LM)
export(NTCP.LL.cMKM)
export(NTCP.LM)
export(NTCP.cMKM)
export(TCP.LL.LM)
export(TCP.LL.cMKM)
export(TCP.LM)
export(TCP.cMKM)
export(add.array.values)
export(add.field)
export(alpha.beta.lqp)
export(alpha.beta.mkm)
export(alpha.fun.mkm)
export(available.beamlines)
export(available.constraint.types)
export(available.variables)
export(available.variables.gate)
export(check.gate)
export(check.plankit)
export(check.prescription)
export(convert.fluence2mu)
export(convert.mu2fluence)
export(create.beam)
export(create.constraint)
export(create.field)
export(create.gate.structure)
export(create.intervals)
export(create.plan)
export(create.plan.gate)
export(create.values)
export(create.waterbox.gate)
export(display.beamports)
export(display.beams)
export(display.dvh)
export(display.dvh.bands)
export(display.dvh.bands.multiple)
export(display.dvh.combined)
export(display.dvh2d)
export(display.dvh2d.multiple)
export(display.lut)
export(display.profile)
export(display.rays)
export(display.slice)
export(display.slice.all)
export(display.slice.ct)
export(display.slices.interactive)
export(display.spots)
export(dumpslices.3d.2.png)
export(dvh.evaluate)
export(dvh.evaluate.all)
export(dvh.evaluate.bands)
export(evaluate.bands)
export(file.variable.gate)
export(generate.contours)
export(generate.ct)
export(generate.ct.contours)
export(generate.materials.gate)
export(generate.report)
export(generate.values.from.events)
export(get.array.values)
export(get.beams)
export(get.contours)
export(get.coordinates)
export(get.ct)
export(get.dataframe.from.values)
export(get.dektools.env)
export(get.isocenter)
export(get.origin)
export(get.prescription)
export(get.profile)
export(get.rays)
export(get.sparse.array.from.values)
export(get.sparse.array.gate)
export(get.values)
export(get.voi.logical)
export(get.voiindex)
export(get.vois)
export(get.voxel.index)
export(get.zBP.fun)
export(install.gate)
export(install.plankit)
export(interpolate.values)
export(lut.add.alpha)
export(lut.add.beta)
export(lut.add.rbe.alpha)
export(lut.radial.integral)
export(merge.values)
export(my.ggplot.theme)
export(ntcp.S)
export(ntcp.kallman)
export(ntcp.kallman.train)
export(points2intervals)
export(ray.tracing)
export(rbe.evaluate)
export(read.1d)
export(read.3d)
export(read.3d.dicom)
export(read.3d.hdr)
export(read.3d.spliced)
export(read.beams)
export(read.beams.fluka)
export(read.contours)
export(read.lut)
export(read.materials.gate)
export(read.plan)
export(read.vois)
export(read.vois.array)
export(read.vois.spliced)
export(remove.values.outside.voi)
export(render.isosurfaces)
export(render.voi.isosurfaces)
export(run.dek.forward)
export(run.dek.inverse)
export(run.gate.forward)
export(sanitize.ct)
export(sanitize.filename)
export(sanitize.values)
export(save.plan)
export(set.dektools.env)
export(set.origin)
export(setenv.rplanit)
export(tcp.S)
export(tcp.lqp)
export(tcp.lqp.train)
export(values.add.RBE)
export(values.add.RBE.alpha)
export(values.add.survival.LM)
export(values.add.survival.cMKM)
export(values.app)
export(volume.contours)
export(write.3d.array)
export(write.analyze)
export(write.beamLUT)
export(write.beams)
export(write.contours)
export(write.lut)
import(ggplot2)
import(gtable)
import(knitr)
import(misc3d)
import(oro.dicom)
import(oro.nifti)
import(rgl)
import(shiny)
importFrom(fields,image.plot)
importFrom(fields,set.panel)
importFrom(reshape2,melt)
importFrom(splancs,areapl)
